.container{
    color: grey;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
}
.SourceCode_Container{
    max-height: 450px;
    width: 100%;
    overflow-y: scroll;
}
.close{
    color: red;
    cursor: pointer;
}
.close:hover{
    transform: scale(1.5);
}
.Header{
    height: 3rem;
    display: flex;
    box-shadow: 0px 0px 6px rgb(196 195 195);
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}
.footer{
    height: 3rem;
    display: flex;
    box-shadow: 0px 0px 6px rgb(196 195 195);
    border-radius: 5px;
    justify-content: flex-end;
    align-items: center;
}
.btn_container{
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px 15px;
    margin-right: 15px;
    color: grey;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}
.View_source{
    cursor: pointer;
}
.View_source:hover{
    color: var(--LogoBorderColor);
}

.SourceCode_Container::-webkit-scrollbar {
    width: 9px;
  }
  .SourceCode_Container::-webkit-scrollbar-track {
    background: #ab9c9c;
  }
  .SourceCode_Container::-webkit-scrollbar-thumb {
    background-color: rgb(201, 193, 193);
    border-radius: 20px;
  }