.container{
    background-color: var(--varSourceCodeContainerColor);
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
}
.pre{
    color: white;
}