.container{
    background-color: #3f3f72;
    width: 200px;
    height: var(--navBarHeight);
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.logo_container{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    width: inherit;
    position: relative;
}
.span_subtitle{
    position:absolute;
    bottom: 0;
    font-family: ui-serif;
    text-shadow: 0px 2px 10px rgb(71 69 69);
}
.h1{
    font-family: serif;
    text-shadow: 0px 2px 10px rgb(71 69 69);
}
@media screen and (max-width:768px){
    .container{
        display: none;
    }

}