nav{
    background-color: var(--primaryColor);
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 10%;
    z-index: 1000;
    position: sticky;
    top:0;
    box-shadow: 3px 0px 25px var(--bannerTextSecondaryColor);
}
.hamburger{
    cursor: pointer;
  }
  .line{
    width: 2rem;
    height: 4px;
    background-color: white;
    margin: .25rem 0;
    border-radius: 3px;
  }
  .logo-container{
    display: flex;
  }
  