  
:root{
  --primaryColor:#373B44;
  --secondaryColor:#4a4e58;
  --textSecondary:grey;
  --scrollColor:#b3b6bb;/*ced1d8*/
  --scrollBGColor:rgb(236, 229, 229);
  --scrollBorderColor:#6e6f70;
  --bannerTextSecondaryColor:rgb(113,57, 79);
  --skillBGColor:white;
  --skillColor:var(--primaryColor);
  --skillProgressBarBorderColor:#1d8997;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: var(--scrollBGColor);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--scrollColor);
  border-radius: 20px;

}

a {
  text-decoration: none;
}
li{
  list-style: none;
}
.mainContentSection {
  /* background-color: var(--secondaryColor); */
 
}